.DS_Store
tags
*.swp
*.swo
*.swn
/Program/Customer/.vs
/Program/Customer/BACKEND/Business/Business.Entities/obj
/Program/Customer/BACKEND/Business/Business.Services/obj
/Program/Customer/CMS_Solution.WebRuby/obj
/Program/Customer/BACKEND/Host/Host.WcfService/obj
/Program/Customer/BACKEND/Host/Host.WcfService/log4net
/Program/Customer/BACKEND/DataAccess/Data.Core/obj
/Program/Customer/BACKEND/Core/Module.Framework/obj
/Program/Customer/BACKEND/Core/Core.Common/obj
Program/Customer/BACKEND/Business/Business.Entities/bin/Debug/Business.Entities.dll
Program/Customer/BACKEND/Business/Business.Entities/bin/Debug/Business.Entities.pdb
Program/Customer/BACKEND/Business/Business.Entities/bin/Debug/Core.Common.dll
Program/Customer/BACKEND/Business/Business.Entities/bin/Debug/Core.Common.pdb
Program/Customer/BACKEND/Business/Business.Services/bin/Debug/Business.Entities.dll
Program/Customer/BACKEND/Business/Business.Services/bin/Debug/Business.Entities.pdb
Program/Customer/BACKEND/Business/Business.Services/bin/Debug/Business.Services.dll
Program/Customer/BACKEND/Business/Business.Services/bin/Debug/Business.Services.pdb
Program/Customer/BACKEND/Business/Business.Services/bin/Debug/Core.Common.dll
Program/Customer/BACKEND/Business/Business.Services/bin/Debug/Core.Common.pdb
Program/Customer/BACKEND/Business/Business.Services/bin/Debug/Data.Core.dll
Program/Customer/BACKEND/Business/Business.Services/bin/Debug/Data.Core.pdb
Program/Customer/BACKEND/Core/Core.Common/bin/Debug/Core.Common.dll
Program/Customer/BACKEND/Core/Core.Common/bin/Debug/Core.Common.pdb
Program/Customer/BACKEND/Core/Module.Framework/bin/Debug/Business.Entities.dll
Program/Customer/BACKEND/Core/Module.Framework/bin/Debug/Business.Entities.pdb
Program/Customer/BACKEND/Core/Module.Framework/bin/Debug/Core.Common.dll
Program/Customer/BACKEND/Core/Module.Framework/bin/Debug/Core.Common.pdb
Program/Customer/BACKEND/Core/Module.Framework/bin/Debug/Module.Framework.dll
Program/Customer/BACKEND/Core/Module.Framework/bin/Debug/Module.Framework.pdb
Program/Customer/BACKEND/DataAccess/Data.Core/bin/Debug/Business.Entities.dll
Program/Customer/BACKEND/DataAccess/Data.Core/bin/Debug/Business.Entities.pdb
Program/Customer/BACKEND/DataAccess/Data.Core/bin/Debug/Core.Common.dll
Program/Customer/BACKEND/DataAccess/Data.Core/bin/Debug/Core.Common.pdb
Program/Customer/BACKEND/DataAccess/Data.Core/bin/Debug/Data.Core.dll
Program/Customer/BACKEND/DataAccess/Data.Core/bin/Debug/Data.Core.pdb
Program/Customer/BACKEND/Host/Host.WcfService/Web.config
Program/Customer/BACKEND/Host/Host.WcfService/bin/Business.Entities.dll
Program/Customer/BACKEND/Host/Host.WcfService/bin/Business.Entities.pdb
Program/Customer/BACKEND/Host/Host.WcfService/bin/Business.Services.dll
Program/Customer/BACKEND/Host/Host.WcfService/bin/Business.Services.pdb
Program/Customer/BACKEND/Host/Host.WcfService/bin/Core.Common.dll
Program/Customer/BACKEND/Host/Host.WcfService/bin/Core.Common.pdb
Program/Customer/BACKEND/Host/Host.WcfService/bin/Data.Core.dll
Program/Customer/BACKEND/Host/Host.WcfService/bin/Data.Core.pdb
Program/Customer/BACKEND/Host/Host.WcfService/bin/Host.WcfService.dll
Program/Customer/BACKEND/Host/Host.WcfService/bin/Host.WcfService.dll.config
Program/Customer/BACKEND/Host/Host.WcfService/bin/Host.WcfService.pdb
Program/Customer/CMS_Solution.WebRuby/CMS_Solution.WebRuby.csproj
Program/Customer/CMS_Solution.WebRuby/Web.config
Program/Customer/CMS_Solution.WebRuby/bin/Business.Entities.dll
Program/Customer/CMS_Solution.WebRuby/bin/Business.Entities.pdb
Program/Customer/CMS_Solution.WebRuby/bin/CMS_Solution.WebRuby.dll
Program/Customer/CMS_Solution.WebRuby/bin/CMS_Solution.WebRuby.dll.config
Program/Customer/CMS_Solution.WebRuby/bin/CMS_Solution.WebRuby.pdb
Program/Customer/CMS_Solution.WebRuby/bin/Core.Common.dll
Program/Customer/CMS_Solution.WebRuby/bin/Core.Common.pdb
Program/Customer/CMS_Solution.WebRuby/bin/Module.Framework.dll
Program/Customer/CMS_Solution.WebRuby/bin/Module.Framework.pdb
Program/Customer/CMS_Solution.WebRuby/Common/CommonWebsite.cs
Program/Customer/CMS_Solution.WebRuby/Content/bundlebootstrap.css
Program/Customer/CMS_Solution.WebRuby/Content/bundlebootstrap.min.css
Program/Customer/CMS_Solution.WebRuby/Content/style.css
Program/Customer/CMS_Solution.WebRuby/Content/style.min.css
Program/Customer/CMS_Solution.WebRuby/Content/image/avatar.png
Program/Customer/CMS_Solution.WebRuby/Content/image/logo.png
Program/Customer/CMS_Solution.WebRuby/Controllers/CartController.cs
Program/Customer/CMS_Solution.WebRuby/Controllers/CustomerController.cs
Program/Customer/CMS_Solution.WebRuby/image/apple.png
Program/Customer/CMS_Solution.WebRuby/image/login-bg.jpg
Program/Customer/CMS_Solution.WebRuby/image/logo (1).png
Program/Customer/CMS_Solution.WebRuby/image/oppo.jpg
Program/Customer/CMS_Solution.WebRuby/image/samsung.png
Program/Customer/CMS_Solution.WebRuby/image/vivo.png
Program/Customer/CMS_Solution.WebRuby/image/xiaomi.png
Program/Customer/CMS_Solution.WebRuby/logs/log.txt
Program/Customer/CMS_Solution.WebRuby/logs/log.txt.1
Program/Customer/CMS_Solution.WebRuby/logs/log.txt.2
Program/Customer/CMS_Solution.WebRuby/logs/log.txt.3
Program/Customer/CMS_Solution.WebRuby/logs/log.txt.4
Program/Customer/CMS_Solution.WebRuby/logs/log.txt.5
Program/Customer/CMS_Solution.WebRuby/logs/log.txt.6
Program/Customer/CMS_Solution.WebRuby/logs/log.txt.7
Program/Customer/CMS_Solution.WebRuby/logs/log.txt.8
Program/Customer/CMS_Solution.WebRuby/logs/log.txt.9
Program/Customer/CMS_Solution.WebRuby/logs/log.txt.10
Program/Customer/BACKEND/Business/Business.Entities/bin/Debug/Business.Entities.dll
Program/Customer/BACKEND/Business/Business.Entities/bin/Debug/Business.Entities.pdb
Program/Customer/BACKEND/Business/Business.Entities/bin/Debug/Core.Common.dll
Program/Customer/BACKEND/Business/Business.Entities/bin/Debug/Core.Common.pdb
Program/Customer/BACKEND/Business/Business.Services/bin/Debug/Business.Entities.dll
Program/Customer/BACKEND/Business/Business.Services/bin/Debug/Business.Entities.pdb
Program/Customer/BACKEND/Business/Business.Services/bin/Debug/Business.Services.dll
Program/Customer/BACKEND/Business/Business.Services/bin/Debug/Business.Services.pdb
Program/Customer/BACKEND/Business/Business.Services/bin/Debug/Core.Common.dll
Program/Customer/BACKEND/Business/Business.Services/bin/Debug/Core.Common.pdb
Program/Customer/BACKEND/Business/Business.Services/bin/Debug/Data.Core.dll
Program/Customer/BACKEND/Business/Business.Services/bin/Debug/Data.Core.pdb
Program/Customer/BACKEND/Core/Core.Common/bin/Debug/Core.Common.dll
Program/Customer/BACKEND/Core/Core.Common/bin/Debug/Core.Common.pdb
Program/Customer/BACKEND/Core/Module.Framework/bin/Debug/Business.Entities.dll
Program/Customer/BACKEND/Core/Module.Framework/bin/Debug/Business.Entities.pdb
Program/Customer/BACKEND/Core/Module.Framework/bin/Debug/Core.Common.dll
Program/Customer/BACKEND/Core/Module.Framework/bin/Debug/Core.Common.pdb
Program/Customer/BACKEND/Core/Module.Framework/bin/Debug/Module.Framework.dll
Program/Customer/BACKEND/Core/Module.Framework/bin/Debug/Module.Framework.pdb
Program/Customer/BACKEND/DataAccess/Data.Core/bin/Debug/Business.Entities.dll
Program/Customer/BACKEND/DataAccess/Data.Core/bin/Debug/Business.Entities.pdb
Program/Customer/BACKEND/DataAccess/Data.Core/bin/Debug/Core.Common.dll
Program/Customer/BACKEND/DataAccess/Data.Core/bin/Debug/Core.Common.pdb
Program/Customer/BACKEND/DataAccess/Data.Core/bin/Debug/Data.Core.dll
Program/Customer/BACKEND/DataAccess/Data.Core/bin/Debug/Data.Core.pdb
Program/Customer/BACKEND/Host/Host.WcfService/Web.config
Program/Customer/BACKEND/Host/Host.WcfService/bin/Business.Entities.dll
Program/Customer/BACKEND/Host/Host.WcfService/bin/Business.Entities.pdb
Program/Customer/BACKEND/Host/Host.WcfService/bin/Business.Services.dll
Program/Customer/BACKEND/Host/Host.WcfService/bin/Business.Services.pdb
Program/Customer/BACKEND/Host/Host.WcfService/bin/Core.Common.dll
Program/Customer/BACKEND/Host/Host.WcfService/bin/Core.Common.pdb
Program/Customer/BACKEND/Host/Host.WcfService/bin/Data.Core.dll
Program/Customer/BACKEND/Host/Host.WcfService/bin/Data.Core.pdb
Program/Customer/BACKEND/Host/Host.WcfService/bin/Host.WcfService.dll
Program/Customer/BACKEND/Host/Host.WcfService/bin/Host.WcfService.dll.config
Program/Customer/BACKEND/Host/Host.WcfService/bin/Host.WcfService.pdb
Program/Customer/CMS_Solution.WebRuby/CMS_Solution.WebRuby.csproj
Program/Customer/CMS_Solution.WebRuby/Web.config
Program/Customer/CMS_Solution.WebRuby/bin/Business.Entities.dll
Program/Customer/CMS_Solution.WebRuby/bin/Business.Entities.pdb
Program/Customer/CMS_Solution.WebRuby/bin/CMS_Solution.WebRuby.dll
Program/Customer/CMS_Solution.WebRuby/bin/CMS_Solution.WebRuby.dll.config
Program/Customer/CMS_Solution.WebRuby/bin/CMS_Solution.WebRuby.pdb
Program/Customer/CMS_Solution.WebRuby/bin/Core.Common.dll
Program/Customer/CMS_Solution.WebRuby/bin/Core.Common.pdb
Program/Customer/CMS_Solution.WebRuby/bin/Module.Framework.dll
Program/Customer/CMS_Solution.WebRuby/bin/Module.Framework.pdb
