.DS_Store

*.swp
*.swo
*.swn
/Customer/BACKEND/Business/Business.Entities/obj/
/Customer/BACKEND/Business/Business.Entities/bin/
/Customer/BACKEND/Business/Business.Services/obj/
/Customer/BACKEND/Business/Business.Services/bin/
/Customer/BACKEND/Core/Core.Common/obj/
/Customer/BACKEND/Core/Core.Common/bin/
/Customer/BACKEND/Core/Module.Framework/obj/
/Customer/BACKEND/Core/Module.Framework/bin/
/Customer/BACKEND/DataAccess/Data.Core/obj/
/Customer/BACKEND/DataAccess/Data.Core/bin/
/Customer/BACKEND/Host/Host.WcfService/obj/
/Customer/BACKEND/Host/Host.WcfService/bin/
/Customer/CMS_Solution.WebRuby/obj/
/Customer/CMS_Solution.WebRuby/bin/
Customer/.vs/CMS_Solution/config/applicationhost.config
/Customer/CMS_Solution.WebRuby/Properties/PublishProfiles/
/Customer/.vs
/Customer/BACKEND/Host/Host.WcfService/Properties/PublishProfiles/