@model CMS_Solution.WebRuby.ViewModel.AboutHomeViewModel
<section class="cate-home">
    <section class="container">
        <h2 class="title-page">Dòng sản phẩm</h2>
        <section class="box-cate-product">
            <a href="/san-pham" class="cate-product">
                <img src="~/image/apple.png" alt="apple" />
                <h2>Apple</h2>
                <p>Thương hiệu của Apple nổi tiếng của Mỹ, với cấu hình mạnh mẽ, thiết kế thời trang, màn hình Retina độc quyền, hệ thống camera cực nét,... </p>
            </a>
            <a href="/san-pham" class="cate-product">
                <img src="~/image/samsung.png" alt="samsung" />
                <h2>Samsung</h2>
                <p>Samsung giới thiệu chiếc điện thoại của tương lai: Galaxy Fold</p>
            </a>
            <a href="/san-pham" class="cate-product">
                <img src="~/image/xiaomi.png" alt="xiaomi" />
                <h2>Xiaomi</h2>
                <p>Xiaomi là một thương hiệu phổ biến tại thị trường Việt Nam và thế giới bên cạnh các hãng lớn như iPhone, Samsung, Huawei, Oppo. Bởi các dòng smartphone giá tốt ...</p>
            </a>
            <a href="/san-pham" class="cate-product">
                <img src="~/image/oppo.jpg" alt="oppo" />
                <h2>Oppo</h2>
                <p>Mua ngay chiếc điện thoại xịn nhất Reno8 Pro mới ra mắt 2022, với loạt nâng cấp hiếm thấy. Trải nghiệm Siêu chip kép, Siêu sạc nhanh, Siêu quay chụp đêm cực xịn trên OPPO Reno8 Pro</p>
            </a>
            <a href="/san-pham" class="cate-product">
                <img src="~/image/vivo.png" alt="vivo" />
                <h2>Vivo</h2>
                <p>Mua điện thoại Vivo chính hãng với mức giá tốt nhất, nhiều ưu đãi hấp dẫn nhất như: tặng phiếu mua hàng có giá trị cao, trả góp lãi suất 0% với thủ tục đơn ..</p>
            </a>
        </section>
    </section>
</section>
<section class="contact_btn">
    <section class="container">
        <p class="font-weight-bold"> Hãy liên hệ với chúng tôi để nhận được nhiều ưu đãi</p>
        <a href="/lien-he" class="bg-danger">Liên hệ</a>
    </section>
</section>
<script type="text/javascript">
    $('.box-service').owlCarousel({
        autoplay: true,
        nav: false,
        loop: true,
        dots: true,
        responsive: {
            0: {
                items: 1
            },
            480: {
                items: 2, margin: 10,
            },
            768: {
                items: 3, margin: 10,
            },
            1120: {
                items: 3, margin: 10,
            },
            1400: {
                items: 3
            }
        }
    });
    if (screen.width <= 768) {
        $('.box-cate-product').addClass('owl-carousel');
        $('.box-partner-home').addClass('owl-carousel');
        $('.box-cate-product').owlCarousel({
            autoplay: true,
            nav: false,
            loop: true,
            items: 1,
            margin: 20
        });
        $('.box-partner-home').owlCarousel({
            autoplay: true,
            nav: false,
            loop: true,
            items: 2,
            margin: 20
        });
    }
</script>