
@{
    ViewBag.Title = "Polyci";
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
<section class="background-about mt-2"></section>
<section class="news-home">
    <section class="container">
        <section class="content-news content-pages">
            <section class="row justify-content-center">
                <section class="col-md-10 col-sm-12">
                    <h1 class="title-about title-pages">Quy đinh, điều khoản</h1>
                    <p>Khi hàng tới chân công trình, khách hàng có trách nhiệm xuống hàng và vận chuyển hàng vào vị trí lắp đặt, cử người có thẩm quyền phối hợp với Quick Solution Team kiểm tra, giám sát toàn bộ quá trình giao nhận hàng, bàn giao thiết bị và ký xác nhận vào các biên bản giao nhận hàng, bàn giao thiết bị.</p>
                    <p>Khách hàng có trách nhiệm thanh toán đầy đủ , đúng thời hạn đã thỏa thuận trong hợp đồng. Nếu khách thanh toán trễ mà không thông báo và được sự chấp thuận của Quick Solution Team thì Quick Solution Team sẽ có quyền hủy hợp đồng, thu hồi lại các thiết bị đã lắp đặt mà không phải trả số tiền khách hàng đã đặt cọc.</p>
                    <p>Khách hàng có trách nhiệm ủy quyền cho người đại diện giao dịch , ký biên bản giao nhận hàng. Sử dụng và bảo quản máy móc theo đúng sự chỉ dẫn của Quick Solution Team. </p>
                    <p>Quick Solution Team sẽ vận chuyển hàng bằng xe container, xe tải lớn tới chân công trình. Trong trường hợp công trình ở trong ngõ, đường nhỏ, đường cấm không vào được theo đặc thù của đường xá thì khách hàng chủ động việc vận chuyển trong đường nhỏ, ngõ và chịu các chi phí phát sinh khác.</p>
                </section>
            </section>
        </section>
    </section>
</section>