
@{
    ViewBag.Title = "PolyciReturn";
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}

<section class="background-about mt-2"></section>
<section class="news-home">
    <section class="container">
        <section class="content-news content-pages">
            <section class="row justify-content-center">
                <section class="col-md-10 col-sm-12">
                    <h1 class="title-about title-pages">Chính sách bảo mật</h1>
                    <p>Quick Solution Team cam kết chính sách đổi trả, bảo hành sản phẩm tốt nhất để đem lại sự hài lòng cao nhất cho khách hàng. Điều kiện đổi trả hàng như sau: </p>
                    <h2>Lí do trả hàng</h2>
                    <ul>
                        <li>Sản phẩm giao không đúng chủng loại, mẫu mã như đơn đặt hàng.</li>
                        <li>Bị giao sai về số lượng, thiếu linh phụ kiện đi kèm so với đơn đặt hàng.</li>
                        <li>Sản phẩm bị hỏng do lỗi nhà sản xuất (hỏng hóc về kỹ thuật, lỗi về thiết kế, nội dung, các lỗi ẩn tì/nội tì, khác biệt so với tiêu chuẩn chất lượng đã công bố của nhà sản xuất) hoặc lỗi trong quá trình vận chuyển (bị biến dạng, trầy xước, vấy bẩn, nứt vỡ v.v.)</li>
                        <li>Khách hàng thay đổi nhu cầu sử dụng.</li>
                    </ul>
                    <h2>Điều kiện đổi trả</h2>
                    <p><b>2.1 - Sản phẩm đổi trả</b></p>
                    <ul>
                        <li>Sản phẩm phải còn nguyên vẹn theo quy cách ban đầu, đầy đủ nhãn mác, tem (nếu có). Trừ trường hợp sản phẩm bị lỗi hoặc hư hại trong quá trình vận chuyển)</li>
                        <li>Sản phẩm phải còn đủ phụ kiện (hướng dẫn sử dụng, phiếu bảo hành) và linh phụ kiện hoặc tặng phẩm đi kèm (nếu có)</li>
                        <li>Sản phẩm không bị biến dạng, dơ bẩn hoặc các dấu hiệu khác chứng tỏ đã qua sử dụng.</li>
                    </ul>
                    <p><b>2.2 - Cách thức đổi trả</b></p>
                    <p>Khi có yêu cầu đổi trả hàng khách hàng vui lòng liên hệ với chúng tôi qua hotline đồng thời cung cấp đầy đủ các giấy tờ chứng minh khách hàng đã mua sản phẩm tại Quick Solution Team (hóa đơn bán hàng, phiếu bảo hành, biên nhận giao hàng, sao kê ngân hàng…) sản phẩm cần đổi trả và tặng phẩm đi kèm (nếu có)</p>
                    <p><b>2.3 - Thời gián đổi trả</b></p>
                    <ul>
                        <li>Yêu cầu đổi trả hàng của quý khách phải được thông báo đến chúng tôi trong vòng 7 ngày kể từ ngày nhận được sản phẩm.</li>
                        <li>Thời gian xác nhận đổi trả hàng là lúc khách hàng cung cấp đầy đủ yêu cầu đổi trả và hóa đơn chứng từ hợp lệ chứng minh đã mua hàng tại Quick Solution Team</li>
                        <li>Quick Solution Team sẽ xác nhận yêu cầu đổi trả của khách hàng qua email,sms, điện thoại trong tối đa 2 ngày làm việc kể từ khi chúng tôi tiếp nhận yêu cầu đổi trả hợp lệ từ khách hàng.</li>
                    </ul>
                    <p><b>2.4 - Chi phí đổi trả</b></p>
                    <ul>
                        <li>Đối với các sản phẩm do lỗi của Quick Solution Team , khách hàng sẽ được miễn phí đổi trả.</li>
                        <li>Đối với các sản phẩm trả lại do khách hàng thay đổi nhu cầu sử dụng (lưu ý: sản phẩm phải đủ điều kiện yêu cầu cho sản phẩm đổi trả và thời gian quy định) khách hàng sẽ được miễn phí đổi trả và sẽ phải thanh toán chi phí vận chuyển theo chính sách giao nhận của Quick Solution Team</li>
                    </ul>
                    <p style="color: #df1f27; font-style: italic;"><b>Lưu ý:</b> Để đảm bảo quyền lợi của quý khách, trước khi nhận hàng quý khách vui lòng kiểm tra kỹ tình trạng hàng hóa và xác nhận bằng việc ký tên vào biên nhận giao hàng.</p>
                </section>
            </section>
        </section>
    </section>
</section>