
@{
    ViewBag.Title = "Polyciwarranty";
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
<section class="background-about mt-2"></section>
<section class="news-home">
    <section class="container">
        <section class="content-news content-pages">
            <section class="row justify-content-center">
                <section class="col-md-10 col-sm-12">
                    <h1 class="title-about title-pages">Chính sách bảo hành</h1>
                    <p>Quick Solution Team bảo hành 12 tháng cho tất cả linh kiện máy.</p>
                    <p>Việc bảo hành sẽ không áp dụng đối với những hư hỏng do thiên tai hoặc người sử dụng gây ra.</p>
                    <p>Nếu có sự hư hỏng trong thời gian bảo hành thì khách hàng thông báo ngay cho Quick Solution Team biết và Quick Solution Team sẽ đến kiểm tra trong vòng 03 ngày làm việc kể từ khi nhận được thông báo của khách hàng. (không tính thứ 7, chủ nhật và ngày lễ).</p>
                    <p>Trường hợp một hay nhiều linh kiện còn trong bảo hành cần được sửa chữa thay thế thì Quick Solution Team sẽ sửa chữa, thay thế trong vòng 05 đến 07 ngày làm việc kể từ khi nhận được thông báo của khách hàng và tất cả linh kiện đều là hàng chính hãng (không tính thứ 7, chủ nhật và ngày lễ). Quick Solution Team sẽ hỗ trợ khách hàng từ xa trong điều kiện có thể như gửi linh kiện và hướng dẫn sử dụng. </p>
                    <p>Đối với sản phẩm máy chạy, Quick Solution Team bảo hành khung sườn trong 24 tháng, motor 18 tháng, các chi tiết còn lại 12 tháng.</p>
                    <p>Quick Solution Team vẫn tiếp tục cung cấp dịch vụ bảo hành và bảo trì sau khi hết thời gian bảo hành. (Hỗ trợ giảm 30% gói bảo trì cho khách hàng).</p>
                    <p>Quick Solution Team từ chối bảo hành trong trường hợp khách hàng tự ý mua bán trao đổi hàng hóa, nhượng quyền sở hữu cho bên thứ 3 không được sự đồng ý của Quick Solution Team.</p>
                </section>
            </section>
        </section>
    </section>
</section>