@model CMS_Solution.WebRuby.ViewModel.FooterViewModel
@using Core.Common.Utilities
@using Business.Entities.Domain
@using CMS_Solution.WebRuby.Common;
@{
    UserManager user = new UserManager();
    if (Session[AppSetting.SessionUser] != null)
    {

        user = (UserManager)Session[AppSetting.SessionUser];
    }
}

@if (Model.footerTopMap != null)
{
    @Html.Raw((Model.footerTopMap != null ? (Model.footerTopMap.StaticContent.Replace("&amp;", "&")
                                 .Replace("&lt;", "<")
                                 .Replace("&gt;", ">")
                                 .Replace("&quot;", "\"")
                                 .Replace("&#039;", "\'") ?? "") : ""))
}


@*<section class="bot-control">
    <ul>
        <li><a href="/"><i class="material-icons">home</i>Trang chủ</a></li>
        <li><a href="/san-pham"><i class="material-icons">playlist_add_check</i>Sản phẩm</a></li>
        @if (user.MemberID == null || user.MemberID == 0)
        {
            <li><a href="/dang-nhap"><i class="material-icons">person_add</i>Tài khoản</a></li>
        }
        else
        {
            if (user.ImageAvatar != null && user.ImageAvatar != "")
            {
                <li><a class="account account-login"><img src="@CommonWebsite.UrlWebsite@user.ImageAvatar"></a></li>
            }
            else
            {
                <li> <a class="account account-login"><img src="~/Content/image/avatar.png"></a></li>
            }

        }
        <li><a data-toggle="modal" data-target="#menu"><i class="material-icons">menu</i>Menu</a></li>
    </ul>
</section>*@
@Html.Partial("_QuickMenuView", Model)