@using Core.Common.UI;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //title
    Html.AddTitleParts("Không tìm thấy đường dẫn - Quick Solution Team");
}
<section class="background-about mt-2 bg-404">
    <section class="bg-about">
        <img src="~/Content/image/404.png" alt="PNG">
        <h1>PAGE NOT FOUND</h1>
        <p>Xin lỗi, trang của bạn hiện không có. Vui lòng thực hiện thao tác khác hoặc quay lại trang chủ</p>
        <a href="/">BACK HOME</a>
    </section>
</section>