
@{
    ViewBag.Title = "PolyciPayment";
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}

<section class="background-about mt-2"></section>
<section class="news-home">
    <section class="container">
        <section class="content-news content-pages">
            <section class="row justify-content-center">
                <section class="col-md-10 col-sm-12">
                    <h1 class="title-about title-pages">Điều khoản thanh toán</h1>
                    <h2>Phương thức thanh toán</h2>
                    <p>Khách hàng có thể thực hiện thanh toán hợp đồng qua 2 phương thức: tiền mặt hoặc chuyển khoản:</p>
                    <section class="info_card">
                        <p style="font-size: 18px; font-weight: bold; color: #df1f27;"><b>Chủ tài khoản: Trần Văn Tùng</b></p>
                        <p><b>Số tài khoản: 3966-088-888</b></p>
                        <p>Ngân hàng ACB – PGD Đức Giang, CN Thăng Long</p>
                    </section>
                    <h2>Thời hạn thanh toán</h2>
                    <p>Bên mua thực hiện thanh toán trong 03 đợt: </p>
                    <ul>
                        <li>Đợt 1: Tạm ứng 30% giá trị hợp đồng khi đặt cọc </li>
                        <li>Đợt 2: Thanh toán 60% giá trị hợp đồng ngay sau khi hàng hóa được chuyển tới chân công trình. Trong trường hợp hàng giao làm nhiều lần theo yêu cầu của khách hoặc do điều kiện bất khả kháng thì việc thanh toán sẽ tương ứng với tiến độ giao hàng.</li>
                        <li>Đợt 3: Thanh toán 10% giá trị hợp đồng còn lại sau khi lắp đặt xong và nghiệm thu tại công trình. </li>
                    </ul>
                </section>
            </section>
        </section>
    </section>
</section>