@using Core.Common.UI;
@model CMS_Solution.WebRuby.ViewModel.AccountIsActive
@{
    /**/
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //title
    Html.AddTitleParts("Thanh toán");
}
@Html.Partial("Partial/HeaderCartPartial", null)
<section class="main-checkout">
    <section class="container">
        <section class="row justify-content-between">
            <section class="col-lg-5 col-md-6 col-sm-12">
                <h3>Đăng nhập để thanh toán</h3>
                <p>Đăng nhập để mua hàng và nhận nhiều chương trình khuyến mãi</p>
                @using (Html.BeginForm("LoginAccount", "Customer", FormMethod.Post, new { @id = "form-Login" }))
                {
                    @Html.AntiForgeryToken()
                    <section class="position-relative">
                        <label for="email">Email <span>*</span></label>
                        <input class="" data-msg-required="Vui lòng nhập Email của bạn!!!" data-rule-required="true" id="UserLogin" maxlength="250" name="UserLogin" placeholder="" type="text" value="">
                    </section>
                    <section class="position-relative">
                        <label for="pass">Mật khẩu <span class="text-danger">(*)</span></label>
                        <input class="" data-msg-required="Vui lòng nhập mật khẩu!!!" data-rule-required="true" id="PassWord" maxlength="250" name="PassWord" placeholder="" type="password">
                    </section>
                    <input type="hidden" id="key" name="key" value="CHECKOUT" />
                        <button id="btn-login" type="button">Đăng nhập</button>

                }
                @*<form action="form-checkout.html" method="post">
                    <section class="position-relative">
                        <label for="email">Email <span>*</span></label>
                        <input type="text" id="email" name="email">
                    </section>
                    <section class="position-relative">
                        <label for="pass">Mật khẩu <span>*</span></label>
                        <input type="password" id="pass" name="password">
                    </section>
                    <button>Đăng nhập</button>
                </form>*@
            </section>
            <section class="col-lg-6 col-md-6 col-sm-12">
                <h3>Thanh toán không cần đăng nhập</h3> 
                <a href="/thong-tin-thanh-toan" class="bg-black">Tiếp tục thanh toán</a>
            </section>
        </section>
    </section>
</section>
@{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Cart/CheckOut.min.js")"></script>
}
<script>
    $(document).ready(function () {
        if (Common.Empty(Common.CheckOut)) {
            Common.CheckOut = new CheckOut();
        }
        else {
            Common.CheckOut.Register();
        }
    });
</script>