@using Core.Common.UI;
@model CMS_Solution.WebRuby.ViewModel.AccountIsActive
@{
    /**/
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //title
    Html.AddTitleParts("Kích hoạt tài khoản");
}
<section class="main-checkout" style="padding-top: 115px !important; clear: both; padding-bottom: 0 !important">
    <section class="container">
        <section class="row">
            <section class="col-md-12 text-center" style="padding-bottom: 50px">
                @if (Model.status == true)
                {
                    <div><span style="color:green; font-weight:bold"> Bạn đã kích hoạt tài khoản thành công!!.<br /> Vui lòng </span><a href="/dang-nhap" class="btn-sign">Đăng nhập</a> <span style="color:green; font-weight:bold">tài khoản</span></div>
                }
                else
                {
                    <div style="color: orangered; font-weight:bold">Kích hoạt tài khoản thất bại!!</div>
                }
            </section>
        </section>
    </section>
</section>