<section class="background-about mt-2">
    <section class="bg-about">
        <h1>Thanh toán</h1>
    </section>
</section>
<section class="container mg-crumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.RouteUrl("HomePage")">Trang chủ</a></li>
        <li class="breadcrumb-item active">Thanh toán</li>
    </ul>
</section>