@model List<Business.Entities.Domain.ProductAttributeMap>
@if (Model != null && Model.Any())
{
    var listS = ViewData["s"] as string[] ?? new string[0];
<section class="filter">
    <h3>Thuộc tính</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li class="filter_class" data-href="@item.AttributeName-@item.ProductAttributeId" data-param="s">
                <label class="mg-0">
                    <input type="checkbox" name="checkAttributeName[]" @Html.Raw(listS.Any(x => x == item.AttributeName+ "-" + item.ProductAttributeId) ? " class=\"check selected_filter\" checked" : " class=\"check\"" )><span class="check-in"></span> @item.AttributeName (@item.CountProduct)
                </label>
            </li>
        }
    </ul>
</section>
}
