@using CMS_Solution.WebRuby.Common;
@model List<Business.Entities.GymSetupMap>

<section class="row">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <section class="col-lg-4 col-md-4 col-sm-12">
                <section class="package">
                    <img src="@item.IMAGEURL" alt="Set 1">
                    <section class="abs info-package">
                        <span></span>
                        <h3><a href="@Url.RouteUrl("GymSetupItem", new { SeName =  item.SEONAME.ToLower() })">@item.SETUPSERVICETITLE</a></h3>
                        <p>1 tỷ</p>
                        <a href="@Url.RouteUrl("GymSetupItem", new { SeName =  item.SEONAME.ToLower() })" class="views">Đăng ký</a>
                    </section>
                </section>
            </section>
        }
    }
</section>
